version: "3.8"
services:
  backend:
    build:
      context: ./backend
    ports:
      - "5000:5000"
    devices:
      - "/dev/bus/usb:/dev/bus/usb"
    privileged: true
    networks:
      - app-network

  frontend:
    build:
      context: ./frontend
    ports:
      - "3000:3000"
    networks:
      - app-network
    environment:
      # For server-side requests in Nuxt
      NUXT_API_BASE_SERVER: http://backend:5000
      # For client-side requests (browser)
      NUXT_PUBLIC_API_BASE: http://localhost:5000
    extra_hosts:
      - "host.docker.internal:host-gateway"

networks:
  app-network:
    driver: bridge