services:
  backend:
    image: eindres/backend:latest
    restart: unless-stopped
    ports:
      - "5000:5000"
    devices:
      - "/dev/bus/usb:/dev/bus/usb"
    privileged: true
    networks:
      - app-network

  frontend:
    image: eindres/frontend:latest
    restart: unless-stopped
    ports:
      - "3000:3000"
    networks:
      - app-network
    extra_hosts:
      - "host.docker.internal:host-gateway"

networks:
  app-network:
    driver: bridge